/* Experiment */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color:#eee8dd;
    text-align: center;
    color: black;
    font-size: 16px;

/*
    1zoom: 0.75;

    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;

    */
}

#description {
    padding-top: 200px;
    position: relative;
    z-index: 10;
    line-height: 24px;
}

#block {
    left:0;
    margin-left:0;
    margin-top: 57px;
    white-space:nowrap;
    width: 8175px;     /* pageWidth * totalNumPages + (gapWidth * 2) */
    position:relative;
    overflow-y:hidden;
    height:1635px;
}

#content {
    min-height: 145%;
    width: 100%;     /* pageWidth * totalNumPages + (gapWidth * 2) */
    overflow-x:hidden;
    overflow-y:auto;
}

#preLoadGUIBeta3 {
    top:50% !important;
    margin-top:-50px !important;
    height:100px !important;
    width:100px !important;
    left:0 !important;
    right:0 !important;
    margin-left:auto !important;
    margin-right:auto !important;
    position:fixed !important;
    background: url(images/wheelframe.gif) 0 0 no-repeat !important;
}

#preLoadGUIBeta3loader {
    display:none !important;
}

#pi-wrapper img {
    position: absolute;
    display: block;
    top: 0;
    left: 25px;
    width: 200px;
    height: 100px;
}

#pi-wrapper div {
    overflow: pre;
    font-size: 36px;
    float: left;
    letter-spacing: 1px;
    margin-right: 35px;
}

.floating-object {
    border: 1px solid gray;
    background-color:green;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
    width:100px;
    height:100px;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

a {
    color:#fa4542;
}

a:hover {
    text-decoration:underline;
    color:#e51c20;
}

.addthis_toolbox {
    background-color: #FFF;
    width: 250px;
    padding: 2px;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    position: relative;
    z-index: 10;
}

.addthis_toolbox a {
    color: #000;
}

.navbar {
    display: inline-block;
    padding:0;
    margin:0;
}

.nav {
    z-index:10000;
    float:right;
    position:relative;
}

.page {
    width:400px;
    height:400px;
}

#page1 {
    margin-left:0;
}

#page2 {
    margin-left:1000px;
}

#page3 {
    margin-left:2000px;
}

.logo {
    background: url(images/tent.jpg) 0 0 no-repeat;
    width:66px;
    height:60px;
    float:left;
}

.header {
    background-color:#efe8de;
    width:100%;
    height:60px;
    top:-60px;
    margin-top:-3px;
    text-align:center;
    z-index:100;
    position:fixed;
}

.header-active {
    top:0;
}

.header-content {
    width:984px;
    height:60px;
    position:relative;
    left:327px;
}



.about-tab {
    width:60px;
    height:60px;
    background: url(images/about.jpg) 0 0 no-repeat;
    display:inline-block;
}

.team-tab {
    width:52px;
    height:60px;
    background: url(images/team.jpg) 0 0 no-repeat;
    display:inline-block;
}

.work-tab {
    width:60px;
    height:60px;
    background: url(images/work.jpg) 0 0 no-repeat;
    display:inline-block;
}

.contact-tab {
    width:76px;
    height:60px;
    background: url(images/contact.jpg) 0 0 no-repeat;
    display:inline-block;
}

.ape-name {
    background: url(images/ape.jpg) 0 0 no-repeat;
    width:138px;
    height:60px;
    float:left;
}

.home-block {
    background: url(images/home-block.jpg) 0 0 no-repeat;
    height:654px;
    float:left;
}

.about-block {
    background: url(images/about-block.jpg) 0 0 no-repeat;
    height:654px;
    float:left;
}

.team-block {
    background: url(images/team-block.jpg) 0 0 no-repeat;
    height:654px;
}

.work-block {
    height:654px;
    float:left;
}

.contact-block {
    background: url(images/contact-block.jpg) 0 0 no-repeat;
    height:654px;
}

.team-body {
    min-height:636px;
}

.team-body-people-slider-container {
    height:327px;
    position:relative;
}

.team-body-people-slider-redsq {
    float:left;
}

.team-body-people-slider {
    width:981px;
    height:327px;
    float:left;
}

.team-body-people-slider-person {
    width:981px;
    height:327px;
    background-color:#eee8dd;
}

.team-body-people-slider-person-redsq {
    float:left;
    position:relative;
}

.team-body-people-slider-person-redsq-tri {
    background:url(images/triangle.png) 0 0 no-repeat;
    width:18px;
    height:34px;
    position:absolute;
    top:142px;
    right:-17px;
}

.team-body-people-slider-person-redsq h2 {
    font-weight:normal;
    font-size:36px;
    color:white;
    margin:123px 40px;
}

.team-body-people-slider-person-text {
    font-family: 'Helvetica', Arial, sans-serif;
    text-align:left;
    margin-left:365px;
    width:539px;
    padding-top:71px;
    line-height:1.1em;
}

.team-body-people-slider-person-text h3 {
    font-weight:bold;
    font-size:14px;
    padding-bottom:25px;
}

.team-body-people-slider-person-text p {
    font-weight:normal;
    font-size:12px;
    padding-bottom:25px;
    color:#6b6b6b;
}

.team-body-people-slider-person-text-email {
    margin-top:11px;
}

.team-body-people-slider-redsq-right {
    float:left;
}

#peoplePrevBtn {
    background: url(images/teamarrow-left.png) 0 0 no-repeat;
    display:inline-block;
    position:absolute;
    left:327px;
    float:left;
    width:46px;
    height:48px;
    z-index:3;
    top:140px;
    margin-left:9px;
}

#peopleNextBtn {
    background: url(images/teamarrow-right.png) 0 0 no-repeat;
    display:inline-block;
    position:absolute;
    float:left;
    right:327px;
    width:46px;
    height:48px;
    z-index:3;
    top:140px;
    margin-right:9px;
}

.darkredsq {
    width:327px;
    height:327px;
    display:inline-block;
    background: url(images/darkredsq.png) 0 0 no-repeat;
}

.contact-body {
    min-height:636px;
}

.contact-body-content {
    text-align:left;
    margin-left:327px;
    margin-right:327px;
    padding-top:80px;
    margin-bottom:20px;
    color:#77746e;
}

.contact-body-content h2 {
    margin-bottom:.8em;
}

.form-component {
    width:412px;
    height:112px;
}

.contact-body-content-form-header-container {
    display:inline-block;
    float:left;
    margin-right:100px;
}

.contact-body-content-form-header-container h2 {
    font-size: 24px;
    letter-spacing: -0.04em;
}

.contact-body-content-form-header {
    border-top:1px solid #c6c2bc;
    border-bottom:1px solid #c6c2bc;
    width:412px;
    height:96px;
    padding-top:24px;
}

.contact-body-content-form-header p {
    font-weight:normal;
    font-size:10px;
    padding-bottom:13px;
}

.contact-body-content-form-header-name {
    display:inline-block;
    margin-right:41px;
}

.contact-name-input,
.contact-email-input {
    width:173px;
    height:26px;
    border:0;
}

.contact-name-input,
.contact-email-input,
.contact-message-input {
    padding:4px;
}

.contact-body-content-form-header-email {
    display:inline-block;
}

.contact-body-content-form-message {
    display:inline-block;
    float:left;
    margin-top: 4px;
}

.contact-body-content-form-message p {
    margin-bottom:30px;
    font-size:10px;
    font-weight:normal;
}

.contact-message-input {
    width:367px;
    height:110px;
    border:0;
}

.contact-body-content-form-send {
    width:376px;
    position:relative;
    text-align:right;
    margin-top:8px;
}

.contact-body-content-form-send button {
    background:url(images/sendemail.gif) 0 0 no-repeat;
    width:60px;
    height:40px;
    border:0;
    cursor:pointer;
}

.team-body {
    margin-top: 654px;
}

.team-body-person {
}

.team-body-person-redsq-container {
    display:inline-block;
    width:327px; 
    height:327px; 
}

.person-left .team-body-person-redsq-container {
    float:left;
    padding-left:162px;
}

.person-right .team-body-person-redsq-container {
    float:right;
    padding-right:162px;
}

.person-right .team-body-person-redsq {
    float:left;
}

.team-body-person-bg {
    height:327px;
    margin-left:164px;
    margin-right:164px;
    position:relative;
}

.person-left .team-body-person-bg {
    background-color:#faf8f5;
}

.person-right .team-body-person-bg {
    background-color:#eee8dd;
}

.team-body-person-redsq {
}

.person-left .team-body-person-text {
    float:left;
    padding-right:162px;
    padding-left:59px;
    width:553px;
}

.person-right .team-body-person-text {
    float:left;
    padding-left:162px;
    padding-right:110px;
    width:530px;
}

.team-body-person-text {
    max-height:327px;
    float:left;
    text-align:left;
    padding-top:53px;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight:normal;
    font-size:13.2px;
    color:#474542;
    line-height:1.3em;
    display:inline-block;
}

.team-body-person-text h2 {
    margin-bottom: .3em;
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    display: inline-block;
    font-family: 'FuturaStdBookBold', Arial, sans-serif;
    color: #fa7a77;
    letter-spacing: -0.025em;
    font-weight:normal;
}

.team-body-person-text h3 {
    font-weight:bold;
    font-size:14px;
    color:#474542;
    margin-bottom: 2em;
}

.work-block-left {
    float:left;
    width:327px;
    height:654px;
    background: url(images/workbox1.jpg) 0 0 no-repeat;
}

.work-block-content {
    float:left;
    width:981px;
    height:654px;
    position:relative;
}

.work-block-right {
    background: url(images/workbox3.jpg) 0 0 no-repeat;
    float:left;
    width:327px;
    height:654px;
}

.work-body-content {
    background-color:#faf8f5;
    padding-bottom: 116px;
}

.work-body-content-ape {
    padding-top: 101px;
    padding-bottom:10px;
    font-weight: normal;
    font-size:10px;
    color:#e51c20;
}

.work-body {
	margin-top: 654px;
    min-height:326px;
}

.work-body h2 {
    font-weight:normal;
    font-size:24px;
    opacity: 0.55;
    -moz-opacity: 0.55;
    filter:alpha(opacity=55);
	letter-spacing: -0.04em;
	line-height: 1.2em;
    text-align: left;
    padding-left: 492px;
}

.work-block-content-work {
    width:327px;
    height:327px;
    background: url(images/work.gif) 0 0 no-repeat;
    position:absolute;
    z-index:1;
}

.work-block-content-videos {
}

.work-block-content-videos-bg {
    background-color: black;
}

.work-block-content-video-close {
    background: url(images/work-video-close.png) 0 0 no-repeat;
    width:68px;
    height:62px;
    position:absolute;
    right:24px;
    top:16px;
    display:none;
    cursor: pointer;
    z-index:1;
}

.videoPlaceholder {
    background-color:black;
    width:981px;
    height:550px;
    cursor:pointer;
}

#ytplayer {
    width:981px;
    height:550px;
    position:absolute;
}

#ytapiplayer1 {
    background:url(images/reelstill.jpg) 0 0 no-repeat;
    width:981px;
    height:550px;
    position:absolute;
}

.work-block-content-videos-slider {
    width:981px;
    height:550px;
    color:#ddd;
}

.work-block-content-videos-info {
    width:981px; /* may be 600px */
    height:104px;
    text-align:left;
    font-family: 'Helvetica', Arial, sans-serif;
    color:#474542;
}

.work-block-content-videos-info h2 {
    padding-top:22px;
    padding-left:40px;
    font-size:14px;
    line-height: 1.7em;
    font-weight:bold;
}

.work-block-content-videos-info p {
    font-size: 12px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
    padding: 4px 0;
    padding-left:40px;
	font-weight:normal;
    line-height:1.3em;
}

.block {
    display:inline-block;
    width: 1635px;
    position:absolute;
    margin-top:0;
    top:0;
    left:0;
    white-space:normal;
}

.block-gap-left {
    width:817px;
    height:16px;
    position:absolute;
}

.block-gap-right {
    width:817px;
    height:16px;
    position: absolute;
}

.page-body {
    width: 1635px;
    height: 700px;
    margin-top: 654px;
    color:black;
}

/* 817+(1635 * 1) */
/* leftGap + (pageWidth * pageIndex) */

.home-page {
    margin-left:0;
    left:0;
}

.about-page {
    margin-left:1635px;
}

.team-page {
    margin-left:3270px;
}

.work-page {
    margin-left:4905px;
}

.contact-page {
    margin-left:6540px;
}

.home-body {
    height:654px;
    margin-top:654px;
}

.home-body-news {
    height:140px;
}

.home-body-news-content {
    border-bottom:1px solid #bebab1;
    width:980px;
    height:140px;
    text-align:left;
}

.home-body-news-content-title {
    color:black;
    float:left;
    width:78px;
    height:140px;
    font-size: 18px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    padding-top:47px;
	font-weight: normal;
}

.home-body-news-content-body {
    float:left;
    color:black;
    padding-top:47px;
}

.home-body-news-content-body2 {
	 font-family: 'Helvetica', Arial, sans-serif;
    float:right;
    color:black;
    padding-top:47px;
}

.home-body-news-content-circleDown {
    background: url(images/circledown.png) 0 0 no-repeat;
    width:50px;
    height:48px;
    margin-top:47px;
    position:absolute;
    cursor:pointer;
}

.home-body-news-content-body .date {
	font-family: 'Helvetica', Arial, sans-serif;
    font-weight:bold;
    font-size:10px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
}

.home-body-news-content-body p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:12px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    line-height: 1.7em;
}

.home-body-news-content-body2 .date {
	font-family: 'Helvetica', Arial, sans-serif;
    font-weight:bold;
    font-size:10px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
}

.home-body-news-content-body2 p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:12px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    line-height: 1.7em;
}

.home-body-news-content-tumblr {
    float:right;
    width: 103px;
    height:140px;
    font-size: 18px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    padding-top:47px;
}

.home-body-ape {
    font-weight:normal;
    font-size:43px; /* 48px; */
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=75);
    text-align:center;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.home-body-ape-title {
    width:981px;
    display:inline-block;
    text-align:center;
    padding-top: 0;
	font-size:48px;
	letter-spacing:-.04em;
}

.home-body-ape-subtitle {
    font-weight: normal;
    font-size:14px;
    padding-top: 17px;
    padding-bottom:300px;
	line-height: 1.2em;
}

.about-body {
    height: 825px;
    margin-top:654px;
}

.about-body-margin {
    width:654px;
    height: 370px;
    background: url(images/asqp-im5.gif) 0 0 no-repeat;
    background-position: right top;
    position:relative;
    float:left;
    display:inline-block;
}

.about-body-margin-redsq {
    background: url(images/redsq.gif) 0 0 no-repeat;
    width:327px;
    height:327px;
    position:absolute;
    top:327px;
    float:left;
}

.about-body-margin-list {
    float:right;
    color:#474542;
    width:327px;
    height:327px;
    position:absolute;
    top:327px;
    right:0;
}

.about-body-margin-list {
    width:327px;
    height:327px;
    text-align:left;
}

.about-body-margin-list div {
    margin-left:96px;
    margin-top: 45px;
}

.about-body-margin-list ul {
    opacity: 0.45;
    -moz-opacity: 0.45;
    filter:alpha(opacity=45);
    font-size:12px;
	text-transform:uppercase;
	line-height: 1.2em;
}

.about-body-margin-list h2 {
    margin-bottom:25px;
    color:#e51c20;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    font-size:48px;
}

.about-page li:before { 
    content: "-";
    padding-right:4px;
}

.about-block-downArrow {
    width:50px;
    height:48px;
    display:inline-block;
    margin-top:214px;
    margin-left:330px;
    cursor:pointer;
}

.team-block-downArrow {
    width:50px;
    height:48px;
    display:inline-block;
    margin-top:511px;
    margin-left:322px;
    cursor:pointer;
}

.futurastd {
    font-family: 'FuturaStdBookBold', Arial, sans-serif;
}

.about-body-text {
    width:534px;
    min-height:856px;
    float:left;
    display:inline-block;
    color:#474542;
    white-space:normal;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size:12px;
    text-align:left;
    padding-top:70px;
    padding-left:50px;
    padding-right:50px;
    line-height: 1.3em;
	opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
	letter-spacing: -.08em
}

.about-body-text h2 {
    margin-bottom:.6em;
    font-size:44px;
    font-weight: normal;
    line-height: 1em;
    display:inline-block;
    font-family: 'FuturaStdBookBold', Arial, sans-serif;
	letter-spacing:-.025em;
	opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=80);
	color:#black;
}

.about-body-text p {
    margin-top:1.1em;
    margin-bottom:1.2em;
    font-size:12px;
}

strong {
    font-weight:bold;
}

.about-body-right-margin {
    width:327px;
    height:654px;
    display:inline-block;
    position:relative;
}

.about-body-right-margin-redsq {
    position:absolute;
    bottom:0;
}

.redsq {
    background: url(images/redsq.gif) 0 0 no-repeat;
    width:327px;
    height:327px;
}


.big-background {
    padding-right: 100px;
    width:8175px; /* 3924px */
    height:337px;
    background: url(images/bigpark_a.png) 0 0 repeat-x;
    z-index:-3;
    background-color:#eee8dd;
    position:absolute;
    top:0;
    margin-top:1137px;
    left:-100px;
}


.big-background-img {
}


.footer {
    background-color:#e0dad0;
    width:100%;
    height:212px; /* 688px */
    bottom:-212px;
    text-align:center;
    position:fixed;
}

.footer-content {
    height:90px;
    width:980px;
    position:relative;
    left:327px;
    top: 70px; /* 50% */
    margin-top:-15px;
    font-family: 'FuturaStdBookBold', Arial, sans-serif;
    color:black;
    text-align:center;
}

.footer-content-follow {
    position:absolute;
    text-align:left;
    top:10px;
}

.footer-content-follow-social {
    font-size:9px;
    padding: 8px 0;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
}

.footer-content-follow p {
    padding: 8px 0;
}

.footer-content-follow h2 {
    font-size:24px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
}

.footer-content-follow span {
    font-size:12px;
    padding-right:14px;
    color:#f8423d;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight:bold;
}

.footer-content-phone {
    width:200px;
    display:inline-block;
    position:relative;
}

.center {
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
}

.footer-content-phone-castle {
    background: url(images/logo-flag.png) 0 0 no-repeat;
    width:41px;
    height:59px;
}

.footer-content-phone-number {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
    padding-top:12px;
}

.footer-content-contact {
    position:absolute;
    text-align:left;
    top:10px;
    float:right;
    right:0;
}

.footer-content-contact p {
    padding: 6px 0;
}

.footer-content-contact span {
    font-size:12px;
    font-weight:bold;
    padding-right:14px;
    color:#fa4542;
    font-family: 'Helvetica', Arial, sans-serif;
}

.footer-content-contact-address {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight:bold;
    font-size:12px;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=40);
}

.footer-content-contact {
    font-size:9px;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);
}

